{% block body %}

	<h1>
		{{anecdote.title}}
	</h1>

	{{form_start(form)}}


	{{form_end(form)}}
	<a href="{{ path('anecdote.edit', {id: anecdote.id}) }}">Éditer cette anecdote</a>
	<a href="{{ path('home') }}">Retour à l'index</a>

{% endblock %}
