{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/form.css') }}">
{% endblock %}

{% block body %}

	<h1>
		{{anecdote.title}}
	</h1>

	{{form_start(form)}}


	{{form_end(form)}}
	<a href="{{ path('home') }}">Retour à l'index</a>

{% endblock %}
