{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block body %}


	<table>
		<thead>
			<tr>
				<th>Consulter</th>
				<th>Matière</th>
				<th>Niveau</th>
				<th>Professeur</th>
				<th>Horaire</th>
				<th>Editer</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="7">
					<strong>Aujourd'hui :</strong>
				</td>
			</tr>
			{# order cours with alphabetical order for the level #}
			{% for cours in todayPlanning|sort((a, b) => a.level <=> b.level) %}
				<tr>
					<td>
						<a href="{{ path('planning.show', {id: cours.id}) }}">Consulter</a>
					</td>
					<td>{{ cours.name }}</td>
					<td>{{ cours.level }}</td>
					<td>{{ cours.teacher }}</td>
					<td>
						Début:
						{{ cours.start|date('H:i') }}<br>
						Fin:
						{{ cours.end|date('H:i') }}
					</td>
					<td>
						<a href="{{ path('planning.edit', {id: cours.id}) }}">Editer</a>
					</td>
					<td>
						<form method="post" action="{{ path('cours.delete', {id: cours.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
							<button type="submit">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}

			<tr>
				<td colspan="7">
					<strong>Demain :</strong>
				</td>
			</tr>
			{% for cours in tomorrowPlanning|sort((a, b) => a.level <=> b.level) %}
				<tr>
					<td>
						<a href="{{ path('planning.show', {id: cours.id}) }}">Consulter</a>
					</td>
					<td>{{ cours.name }}</td>
					<td>{{ cours.level }}</td>
					<td>{{ cours.teacher }}</td>
					<td>
						Début:
						{{ cours.start|date('H:i') }}<br>
						Fin:
						{{ cours.end|date('H:i') }}
					</td>
					<td>
						<a href="{{ path('planning.edit', {id: cours.id}) }}">Editer</a>
					</td>
					<td>
						<form method="post" action="{{ path('cours.delete', {id: cours.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
							<button type="submit">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}

			<tr>
				<td colspan="7">
					<a href="{{ path('planning.create') }}">Créer un cours</a>
				</td>
			</tr>
		</tbody>

	</table>
	<div class="anecdotes">
		<h2>Anecdotes</h2>
		<div class="anecdotes-grid">
			{% for anecdote in anecdotes %}
				<div class="anecdote">
					<h3>{{ anecdote.title }}</h3>
					<p>{{ anecdote.text }}</p>
					<a href="{{ path('anecdote.edit', {id: anecdote.id}) }}">Editer</a>
					<form method="post" action="{{ path('anecdote.delete', {id: anecdote.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
						<button type="submit">Supprimer</button>
					</form>
				</div>
			{% endfor %}
		</div>
		<a href="{{ path('anecdote.create') }}">Créer une anecdote</a>

	</div>


	<h2>
		Les actualités sur Compiègne:
	</h2>
	{% for actu in compiegneActuality.channel.item %}
		<a href=" {{actu.link}} " target="_blank">
			<h3 {{actu.title|raw}}></h3>

			<p>
				{{actu.description|raw}}
			</p>
			<p>Publié le
				{{actu.pubDate|date("d M Y ")}}</p>

		</a>

	{% endfor %}

	<div class="actualities">
		<h2>Actualités du campus:
		</h2>
		<div class="actualities-grid">
			{% for actu in campusActuality %}
				<div class="actuality">
					<h3>
						{{actu.type}}
					</h3>
					<p>
						{{actu.text}}
					</p>
					<p>Le
						{{actu.date|date("d M Y ")}}</p>
					<a href="{{ path('actuality.edit', {id: actu.id}) }}">Editer</a>
					<form method="post" action="{{ path('actuality.delete', {id: actu.id}) }}" onsubmit="return confirm('Tu es sûr ?');">
						<button type="submit">Supprimer</button>
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
	<a href="{{ path('campusActuality.create') }}">Créer une actualité du campus</a>


{% endblock %}
